


#option-padding {
	padding-left: 170px;
}

.footer-text {
	padding-top: 50px;
	color: grey;
}
.footer-img {
	margin-top: -5px;

}
#cart {
	height: 25px;
	width: 40px;
	padding-right: -20px;
}
#logo {
	padding-left: 60px;
}
#payment-method {
	padding: 5px;
}

.slider-img {
	height: 630px;

}
.footer {

	left: 0px;
	bottom: -10px;
	position: relative;

	background-color: #222222;
	height: 90px;
}

.item{
	height: 400px;
}
.category{

	width: 150px;
  height: 50px;
  box-sizing: border-box;
	margin: 45px;
	background-color: #aab114;
	font-size: 20px;

}

.col-md-5{
	width: 500px;
}

.search{
position: absolute;
	height: 30px;
	width: 110px;
	box-sizing: border-box;
	font-size: 20px;
	margin-left: 600px;
}
